<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- 从环境变量中获取日志级别，默认值为 debug -->
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-debug}"/>
    <!-- 从环境变量中获取日志文件路径，默认值为 logs/app.log -->
    <property name="LOG_FILE_PATH" value="${HOME}/.musique/app.log"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE_PATH}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 设置根日志级别 -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</Configuration>